
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* touch-action: none; */
}
/* #container {
} */
#gameCanvas {
    display: block;
    width: 800px;
    height: 600px;
    background-color: #fff;
}
