<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.3.2/styles/overlayscrollbars.min.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.3.2/browser/overlayscrollbars.browser.es6.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>

<script type="text/javascript" src="/assets/js/tree-adjust.js" defer></script>
<script type="text/javascript" src="/assets/js/custom-style.js" defer></script>



<!-- end custom head snippets -->
