<header class="site-header" role="banner">
  <div class="container site-header__inner">
    <a class="site-brand" href="{{ '/' | relative_url }}">
      {{ site.title | default: site.github.repository_name }}
    </a>
    <nav class="site-nav" aria-label="Primary">
      <ul>
        {% assign current_url = page.url | default: '/' | remove: 'index.html' %}
        {% for item in site.data.navigation %}
        {% assign item_url = item.url | relative_url | remove: 'index.html' %}
        {% assign is_current = current_url == item_url %}
        <li>
          <a class="nav-link{% if is_current %} nav-link--active{% endif %}" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
