<nav class="sidebar-nav" id="sidebar-primary-nav">

    <!-- A beautiful tree fig -->
    <ul>
        <li><div class="elegant-tree">
            <a href="mailto:j7168908jx@gmail.com">
                <img id="elegant-tree-img" src="/assets/img/four-seasons-tree-illustration.svg" alt="My Favorite Tree">
            </a>
        </div></li>
        <li><a href="/">About</a></li>
        <li><a href="/posts.html">Posts</a></li>
        <li><a href="/quant-questions.html">Quant</a></li>
        <li><a href="/games/index.html">Games</a></li>
    </ul>


</nav>