<div class="widget card">
  <div class="card-body">
    <a class="widget-avatar" href="mailto:j7168908jx@gmail.com">
      <img id="elegant-tree-img" src="/assets/img/four-seasons-tree-illustration.svg" alt="My Favorite Tree">
    </a>
    <nav class="widget-nav" id="sidebar-primary-nav" aria-label="Site navigation">
      <ul class="nav-pills">
        {% for item in site.data.navigation %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
