/* add more adequate css to a bunch of buttons */
.button-area {
    display: flex;
    justify-content: left;
    margin-bottom: 1em;
    flex-wrap: wrap;
    flex-direction: row;
}

.button-area .btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3em 1em;
    margin: 0.2em 0.5em 0.2em 0.5em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    border-width: 0;
    border-radius: 4px;
    appearance: none;
}

.button-area .btn {
    color: #fff;
    background-color: rgb(16.12, 171.68, 125.2);
    background-image: linear-gradient(rgb(19.19, 204.31, 149), rgb(16.12, 171.68, 125.2));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
}

.main-content section {
    margin-bottom: 1em;
}

/* psuedo horizontal separator */
.main-content section::after {
    content: "";
    display: block;
    margin: 1em 0em;
    border-bottom: 1px solid #ccc;
}

/* .main-content section .source-tag::before {
    content: "Source: ";
    font-weight: bold;
} */

.main-content section .tag {
    display: inline-block;
    box-sizing: border-box;
    padding: 0em 0.3em;
    margin: 0em 0em 0em 0.8em;
    font-family: inherit;
    font-size: 75%;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    border-width: 0;
    border-radius: 4px;
    appearance: none;
}
